@model GymManager.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extras)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
