@model GymManager.Models.user

@{
    ViewBag.Title = "Thông tin tài khoản";
    ViewBag.ContentTitle = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="label label-danger">@Model.username</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(VinaphoneCommon.Language.edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(VinaphoneCommon.Language.backlink, "Index")
</p>
