@model IEnumerable<GymManager.Models.user>

@{
    ViewBag.Title = "Danh sách tài khoản";
    ViewBag.ContentTitle = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="pull-left">
    <button onclick="window.location='@Url.Action("Create")'" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> @VinaphoneCommon.Language.addnew</button>
</p>
<div class="pull-right col-md-3 row mb10">
    <div class="show-trash">
        @if (ViewBag.flag == 0)
        {
            <a href="javascript:;" class="glyphicon glyphicon-refresh btn btn-info btn-flag btn-chk" data-toggle="tooltip" title="Khôi phục tất cả" style="display:none"></a>
            @Html.ActionLink(" ", "Index", new { order = ViewBag.order, searchString = ViewBag.searchString, flag = 1 }, new { @class = "glyphicon glyphicon-th-list btn btn-default", @data_toggle = "tooltip", @title = "Hiển thị sử dụng" })
            @Html.ActionLink(" ", "Index", new { order = ViewBag.order, searchString = ViewBag.searchString, flag = 0 }, new { @class = "glyphicon glyphicon-retweet btn btn-default active ml4", @data_toggle = "tooltip", @title = "Hiển thị nháp", })
        }
        else
        {
            <a href="javascript:;" class="glyphicon glyphicon-trash btn btn-danger btn-flag btn-chk" data-toggle="tooltip" title="Xóa tất cả" style="display:none"></a>
            @Html.ActionLink(" ", "Index", new { order = ViewBag.order, searchString = ViewBag.searchString, flag = 1 }, new { @class = "glyphicon glyphicon-th-list btn btn-default active", @data_toggle = "tooltip", @title = "Hiển thị sử dụng" })
            @Html.ActionLink(" ", "Index", new { order = ViewBag.order, searchString = ViewBag.searchString, flag = 0 }, new { @class = "glyphicon glyphicon-retweet btn btn-default ml4", @data_toggle = "tooltip", @title = "Hiển thị nháp", })
        }
    </div>
</div>
<div class="clearfix"></div>
@if (Model.Count() < 1)
{
    <div class="alert alert-warning" role="alert">@VinaphoneCommon.Language.emptydb</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-head">
            <thead>
                <tr>
                    <th class="tbl-index">STT</th>
                    <th>Tài khoản</th>
                    <th>Tên đày đủ</th>
                    <th class="tbl-reset-pass">Đặt lại mật khẩu</th>
                    @*<th class="tbl-cmd">#</th>*@
                    <th class="tbl-checkbox">
                        <label><input type="checkbox" name="checkboxs" value="all" class="chkall" /></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int index = 0;}
                @foreach (var item in Model)
                {
                    <tr id="@item.id">
                        <td class="center">@(index += 1)</td>
                        <td class="link-action">
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td class="link-action">
                            @Html.DisplayFor(modelItem => item.full_name)
                        </td>
                        <td class="center">
                            @Html.ActionLink("Đặt lại mật khẩu", "ResetPassword", new { id = item.id }, new { @class = "label label-warning" })
                        </td>
                        <td class="tbl-checkbox">
                            <label><input type="checkbox" name="checkbox" value="@Html.DisplayFor(modelItem => item.id)" class="chkitem" /></label>
                        </td>
                        @*<td class="center tbl-cmd">
                                @Html.ActionLink(VinaphoneCommon.Language.edit, "Edit", new { id = item.id }, new { @class = "label label-primary" }) | <a class="label label-danger delete-row" href="javascript:;">Xóa</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
                    }
@section ScriptList { @Html.Partial("ScriptList")}